#banner_superiore {
    background-color: #4ea0ff;
    background-image: url("img\pattern.png");
    height: 20%;    
}

#creazione_data {

}

table{
    text-align: left;
}

thead{
    color: white;
    background-color: #23a8e5;
}

#riga_azzurra{
    background-color: #b1e5f2;
}

tr{
    width: 100%;
}

#The_Booleaner {
    
}

#lista{

}

#evidenziatore {
    background-color: #fefd1a;
}